<div class="main">
  <form #formValue="ngForm" (ngSubmit)="onSubmit(formValue)">
    <label>
      <input name="login"
             type="text"
             placeholder="Логин или e-mail"
             ngModel>
    </label>
    <label>
      <input name="password"
             type="password"
             placeholder="Пароль"
             ngModel>
    </label>
    <button routerLink="/contacts"
            mat-flat-button
            color="primary"
            (click)="showHint()">Подтвердить</button>
    <p *ngIf="hint">Подсказка:<br>Логин: 'Elisa'<br>e-mail: 'elisa@gmail.com'<br>Пароль: '123'</p>
  </form>
</div>
